.dev-lib-stylesheets--Todo-heading {
  font-size: 3rem; }
@font-face {
  font-family: Roboto;
  src: url(fonts/roboto.woff) format("woff"); }

@font-face {
  font-family: 'Roboto-light';
  src: url(fonts/roboto-light.woff) format("woff"); }

body {
  font-family: 'Roboto-light', Helvetica;
  margin: 0;
  color: #2d2d2d; }

h1,
h2,
h3,
h4 {
  margin: 0; }

section {
  max-width: 670px;
  margin: 0 auto; }

p {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding: 0; }
@font-face {
  font-family: Roboto;
  src: url(fonts/roboto.woff) format("woff"); }

@font-face {
  font-family: 'Roboto-light';
  src: url(fonts/roboto-light.woff) format("woff"); }

body {
  font-family: 'Roboto-light', Helvetica;
  margin: 0;
  color: #2d2d2d; }

h1,
h2,
h3,
h4 {
  margin: 0; }

section {
  max-width: 670px;
  margin: 0 auto; }

p {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding: 0; }

footer {
  border-top: 2px solid #ccc;
  padding: 26px;
  background: #F9F9F9;
  margin-top: 60px; }
  footer nav {
    max-width: 670px;
    margin: 0 auto;
    height: auto; }
  footer p {
    font-family: 'Roboto-light', Helvetica;
    line-height: 26px;
    width: 60%;
    color: #585858;
    padding: 20px 20px 20px 0;
    border-right: 2px solid #ccc; }
    footer p span {
      color: #ccc;
      font-size: 1.5rem;
      display: block;
      margin-bottom: 16px; }
@font-face {
  font-family: Roboto;
  src: url(fonts/roboto.woff) format("woff"); }

@font-face {
  font-family: 'Roboto-light';
  src: url(fonts/roboto-light.woff) format("woff"); }

.dev-lib-stylesheets--Home-article {
  font-family: 'Roboto', Helvetica; }
  .dev-lib-stylesheets--Home-article article {
    margin-bottom: 40px; }
  .dev-lib-stylesheets--Home-article h2 {
    font-size: 2rem;
    margin: 16px 0 0; }
  .dev-lib-stylesheets--Home-article .dev-lib-stylesheets--Home-title {
    font-family: 'Roboto-light', Helvetica; }
  .dev-lib-stylesheets--Home-article .dev-lib-stylesheets--Home-tag {
    color: #585858;
    font-style: italic;
    display: block;
    margin-bottom: 22px; }
  .dev-lib-stylesheets--Home-article p {
    margin: 0 0 24px;
    word-spacing: 2px;
    font-size: 18px;
    color: #585858;
    line-height: 30px; }
  .dev-lib-stylesheets--Home-article .dev-lib-stylesheets--Home-link {
    transition: background 0.3s ease-out;
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #585858;
    color: #fff;
    width: 128px;
    text-align: center; }
    .dev-lib-stylesheets--Home-article .dev-lib-stylesheets--Home-link:hover {
      background: #2d2d2d; }
  .dev-lib-stylesheets--Home-article .dev-lib-stylesheets--Home-timeline {
    font-family: 'Roboto-light', Helvetica;
    font-size: 1.1rem;
    color: #cccccc;
    padding: 18px 0;
    border: 1px solid #CCC;
    border-left: 0;
    border-right: 0;
    margin-bottom: 20px; }
  .dev-lib-stylesheets--Home-article .dev-lib-stylesheets--Home-earlier-project {
    display: flex; }
    .dev-lib-stylesheets--Home-article .dev-lib-stylesheets--Home-earlier-project .dev-lib-stylesheets--Home-image-wrapper {
      width: 40%; }
    .dev-lib-stylesheets--Home-article .dev-lib-stylesheets--Home-earlier-project .dev-lib-stylesheets--Home-copy {
      width: 60%;
      line-height: normal;
      padding-left: 14px; }
  @media screen and (max-width: 670px) {
    .dev-lib-stylesheets--Home-article .dev-lib-stylesheets--Home-container {
      padding: 0 10px; } }
@font-face {
  font-family: Roboto;
  src: url(fonts/roboto.woff) format("woff"); }

@font-face {
  font-family: 'Roboto-light';
  src: url(fonts/roboto-light.woff) format("woff"); }

h1 {
  font-family: 'Roboto-light', Helvetica;
  font-size: 2rem; }

.dev-lib-stylesheets--Project-intro {
  margin: 20px 0; }

.dev-lib-stylesheets--Project-list-item {
  font-family: 'Roboto', Helvetica;
  font-weight: bold;
  font-size: 1.2rem;
  color: #0078C9;
  text-decoration: none; }

.dev-lib-stylesheets--Project-project-list {
  margin: 16px 0;
  list-style: none; }
  .dev-lib-stylesheets--Project-project-list li {
    margin-bottom: 16px; }
@font-face {
  font-family: Roboto;
  src: url(fonts/roboto.woff) format("woff"); }

@font-face {
  font-family: 'Roboto-light';
  src: url(fonts/roboto-light.woff) format("woff"); }

header {
  background: #2d2d2d;
  margin-bottom: 16px; }
  header nav {
    align-items: center;
    border-bottom: #CCC solid 1px;
    justify-content: center; }

nav {
  margin: 0 auto;
  max-width: 950px;
  height: 80px;
  display: flex; }
  nav a {
    color: #fff;
    margin-right: 20px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: background 0.3s ease-out; }
    nav a:hover {
      background: inherit;
      color: #fff; }
  nav .dev-lib-stylesheets--Header-logo {
    display: block;
    background: #fff;
    font-size: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #2b2b2b;
    font-weight: bold;
    line-height: 50px; }
